table { border-collapse : collapse;}
th,td { border : 1px solid black;
width: 30px;
height: 30px;
text-align: center;
}
tr {
background-color: #D48030;
}

.impaire {background-color : #BEA58E;}
.paire { background-color : #EBD9C8;}
